:root {
    --text:#fff;
    --light: #313131;
    --background: #2a2929;
    --dark: #1e1e1e;
    --rounding:1rem;
    --ascend: rgba(67, 154, 120, 0.85);
}
body{
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--text);
    background:var(--background);
}
@keyframes append-animate {
    from {
        padding-top: 5%;
        opacity: 0;
    }
    to {
        padding-top: 1%;
        opacity: 1;

    }
}



#unique{

    position: fixed;
    bottom: 3%;
    left: 10%;
    width: 80%;
    height: 10%;
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
    background: var(--ascend);
}
#eingabe{
    margin: 1.5%;
    margin-right: 10%;

    overflow: auto;
    padding: 0.2rem .7rem ;
    resize: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    border-radius: var(--rounding);

    background: var(--light);
    color: var(--text);
    width: 70%;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
}

#benutzername{

    border: none;
    border-radius: var(--rounding);

    background:var(--light);
    padding: 1rem;
    margin: 1.5%;
    float:left;
    max-width: 14%;
    overflow: hidden;
}
#eingabe:focus{
    border: none;
    outline: none;
}


#send{
    margin:1.5%;
    float: right;
    font-size: 1rem;
    font-family: sans-serif;
    border-radius: var(--rounding);
    border:none;
    color: var(--text);
    background:var(--light);
    height: 3.2rem;
    width: 4rem;

    transition: all .3s;
}
#send:hover{
    background-color: var(--ascend);
}
#messages{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    margin: 0 auto;
    background: var(--dark);
    height: 85%;
    width: 80%;
    overflow: auto;
}


#messages .messege{

    width: 50%;
    padding: 1% 0;
    transform: translate(3%, 2%);
}
#messages .ownmessege{

    width: 50%;
    padding: 1% 0 2% 50%;
    transform: translate(-3%, 2%);
    text-align: right;
}
#messages textarea {

    position: relative;
    border: none;
    height: 100px;
    border-radius: 1rem;
    padding: 2%;
    overflow: auto;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: var(--text);
    background: var(--light);
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}#messages textarea:focus {
    border: none;
    outline: none;

 }
#messages .ownmessege textarea{
    background-color: var(--ascend);
}
#messages .messege textarea{
    border-top-left-radius: 0;

}
#messages textarea::-webkit-scrollbar, #messages::-webkit-scrollbar{
    width: 0;
    display: none;
}
span{
    padding-right: 2%;
    text-orientation: mixed;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--ascend);

}
